.tiny-height-padding
    padding: 10px 0px

.tiny-width-padding
    padding: 0px 10px

.space-bottom
    margin-bottom: 30px

.medium-height-padding
    padding: 40px 0px

.slanted-both-sides
    clip-path: polygon(0 0, 101% 10px, 100% 100%, 0 calc(100% - 10px))

.in-col
    flex-direction: column